@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700,200);

body {
	font-family: 'Lato', sans-serif;
	color: white;
	text-shadow: 2px 2px black;
}

a, a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: rgb(237, 179, 104);
	text-decoration: underline;
}

section {
	z-index: 0;
}

.header {
	z-index: 9999;
	position: fixed;
	right: 0;
	top: 0;
	margin-right: 10px;

}

.background {
	/*position: fixed;*/
	left: 0;
	right: 0;		
	width: 100%;
	height: 100%;
/*	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);*/	
}

.nameHeading {
	font-size: 70px;
	font-style: 'Raleway', sans-serif;

}
.textbox {
	/*z-index: 9999;*/
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	overflow: hidden;
}

#intro {
	background: url('../images/rock.jpg') no-repeat center center fixed;
	background-size: cover;
}

#elevator {
	background: url('../images/londoneye.jpg') no-repeat center center;
	background-size: cover;
}

#examples {
	background: url('../images/operahouse.jpg') no-repeat center center;
	background-size: cover;
}

#examples2 {
	background: url('../images/flatiron.jpg') no-repeat center center;
	background-size: cover;	
}

#resume {
	background: url('../images/flatiron.jpg') no-repeat center center;
	background-size: cover;
}


#contact {
	background: url('../images/espresso.jpg')  no-repeat center center;
	background-size: cover;

}

i {
  	display: inline-block;
  	margin: 1rem;
  	font-size: 5rem;
	text-shadow: none;
}

ul {
	list-style-type: none;
}

.contactIcons {
	display: inline-table;
}

.contactIcons img {
	height: 40px;
	width: 40px;
	margin: 0.5em;
}

/*Form*/
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    /* To make sure that all label have the same size and are properly align */
    display: inline-block;
    width: 90px;
    text-align: right;
    font-size: 1.2em;
    margin-right: 5px;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    width: 400px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;

    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 

}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 8em;

    /* To allow users to resize any textarea vertically
       It does not work on every browsers */
    resize: vertical;
}

.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */

}
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
    border-style: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;     
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	color: white;
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;    
}

button:hover {
	background-color: #0044cc;
}

.project {
	height: 500px;
	width: 250px;
	padding: 10px;
	background-color: rgba(28, 28, 28, 0.5);
	border-radius: 1em;
	margin: 1.5em;
	display: inline-table;
	overflow:hidden;
	vertical-align: top;
}

.projectImage {
	width: 100%;
	height: 100%;
}
.macbook {
	width: 100%;
	/*height: 100px;*/
	height: auto;
}

.mario {
	width: 90px;
	height: 150px;
	z-index: 100;
}

/* * * * * * * * * * * * * * * * * * * SVG * * * * * * * * * * * * * * * * * * * */
@font-face {
			font-family: Amatic SC;
			src: url(AmaticSC-Regular.ttf);
		}
	/* * * * * * * * * * * * * * * * * * * SVG * * * * * * * * * * * * * * * * * * * */
		#svg-container {
			position: relative;
			float: center;
			width: 50%;
			height: 300px;
			/*margin: 10px;*/
			margin: auto;
			padding: 10px;
		}
		#svg-canvas {
			float: center;
			text-align: center;
			position: relative;
			width: 100%;
			height: 100%;
		}
		.title {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: draw 5s linear forwards;
		-webkit-animation: draw 8s linear forwards;
		-moz-animation: draw 8s linear forwards;
		-o-animation: draw 8s linear forwards;
		font-weight: bold;
		font-family: Amatic SC;
		-inkscape-font-specification: Amatic SC Bold
		}
		@keyframes draw {
		to {
			stroke-dashoffset: 0;
			}
		}
		@-webkit-keyframes draw {
		to {
			stroke-dashoffset: 0;
			}
		}
		
		@-moz-keyframes draw {
		to {
			stroke-dashoffset: 0;
			}
		}
		@-o-keyframes draw {
		to {
			stroke-dashoffset: 0;
			}
		}


/*Carousel*/

.carousel > *
{
    position: absolute;
	height: 150px;
	width: auto;
}

#expCarousel {
	height: 200px;
}

.experience {
	height: 150px;
	width: auto;
}
