/*header*/

#h {
	background-image: 
		linear-gradient(rgba(0, 182, 255, 0.7), 
		rgba(0, 182, 255, 0.7)), 
		url(http://s3.amazonaws.com/somebodyio-production/pages/face_photos/000/000/071/hero/profilephoto.jpeg?1462479145);
}

/* Icon */

div.icons {
	padding: 20px;
}

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
	color: white;
	padding-left: 10px;
}

	.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	.icon > .label {
		display: none;
	}

.avatar img {
	border-radius: 100%;
	overflow: hidden;
	width: 300px;
	height: 300px;
}

h5.a1 {
	padding-left:10px;
	padding-right:10px;
	color:white;
}

.portfolio-item {
	height: 300px;
}

.tpl6 img {
	height: 250px;
}


.dmbutton {
	margin: 10px 5px 20px 5px
}

.publicEmail {
	margin-top:25px
}
